.fade-outY {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.4s, transform 0.4s;
}

.fade-inY {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.4s, transform 0.4s;
}

.fade-outX {
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.4s, transform 0.4s;
  z-index: inherit;
}

.fade-inX {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.4s, transform 0.4s;
}
.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

.fade-out {
  opacity: 1;
  animation: fadeOut 0.3s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes deslizaX {
0% {
    transform: translateX(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateX(50vw);
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateX(100vw);
    opacity: 0;
  }
}

@keyframes subir {
  0% {
    transform: translateY(100%);
    opacity: 1;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}