form input {
  width: 190px;
  padding: 10px 12px;
  border-radius: 10px;
  border: 1.5px solid #ccc;
  font-size: 15px;
  transition: all 0.3s ease;
  outline: none;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);
}

form input:focus {
  border-color: #4caf50;
  box-shadow: 0 0 6px rgba(76, 175, 80, 0.4);
}

/* Botão */
#abrir_estatisticas {
  width: 80px;
  padding: 5px;
  border-radius: 8px;
  border: none;
  background: linear-gradient(135deg, #4caf50, #3e8e41);
  color: white;
  font-weight: bold;
  font-size: 12px;
  transition: transform 0.2s, background 0.3s;
}
#abrir_estatisticas:hover {
  cursor: pointer;
  transition: 0.5s;
  transform: scale(1.05);
  background: linear-gradient(135deg, #3e8e41, #4caf50);
}

form button[type="submit"],
form input[type="submit"] {
  width: 100px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: linear-gradient(135deg, #4caf50, #3e8e41);
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.2s, background 0.3s;
}

form input[type="submit"]:hover,
form button[type="submit"]:hover {
  transform: scale(1.05);
  background: linear-gradient(135deg, #3e8e41, #4caf50);
}
#formAdcBairro {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginBtn .acesso {
  background-color: rgb(109, 175, 109);
  border-radius: 10px;
  padding: 10px 20px;
  margin: 5px;
  border: #89ae6a solid 1px;
  font-weight: bold;
  color: #ffffff;
  transition: 0.5s;
}
.loginBtn ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin-right: 20px;
}
.Ilogin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 90vh;
  width: 100%;
  background-color: #f2f2f2;
  flex-direction: row;
}

.ICadastro {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: max-content;
  width: 100%;
  background-color: #f2f2f2;
  flex-direction: column;
}
.FormLogin {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  padding: 15px;
  padding-bottom: 10px;
  z-index: 2;
  background-color: #ffffff;
}
.FCadastro {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  padding: 15px;
  padding-bottom: 10px;
  z-index: 2;
  background-color: #ffffff;
}
.carrossel1 {
  margin: 0px 40px;
  width: 60px;
  background-color: #89ae6a;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 1;
}
#carrossel2 {
  position: absolute;
  height: 90px;
  width: 100%;
  overflow: hidden;
  background-color: #89ae6a;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.conteudo {
  width: 4500px;
  height: 35px;
  background-image: url(../img/Casa1.png);
  background-repeat: repeat-x;
  background-size: 35px;
  animation: deslizaX 10s linear infinite;
}
.carrossel1 .conteudo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1;
  /* animation: deslizaY 60s linear infinite; */
}
#carrossel2 .conteudo {
  display: flex;
  gap: 20px;
  animation: deslizaX 45s linear infinite; /* rola devagar */
}

.carrossel1 img {
  width: 35px;
  height: auto;
  animation: subir 60s linear infinite;
}
#carrossel2 img {
  width: 35px;
  height: auto;
}
.telaL {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max-content;
  box-shadow: 0px 0px 10px rgba(121, 120, 120, 0.808);
  background-color: #ffffff;
  border-radius: 10px;
  padding: 5px;
  z-index: 2;
  min-height: max-content;
}
#ruaCT,
#rua {
  width: 100%;
  box-sizing: border-box; /* inclui padding e border na largura total */
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
#ruaCT:focus {
  border-color: #4caf50;
  box-shadow: 0 0 6px rgba(76, 175, 80, 0.4);
}
/* tr {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} */
input {
  border: 0.5px solid gray;
  border-radius: 7px;
  margin-top: 2px;
  padding: 4px 3px;
}
#voltar {
  display: none;
  background-color: rgb(150, 148, 148);
  border-radius: 10px;
  padding: 10px;
  border: rgb(150, 148, 148) solid 1px;
  font-weight: bold;
  color: #ffffff;
  transition: 0.5s;
}
#voltar:hover {
  transition: 0.5s;
  background-color: #ffffff;
  border: 1px solid rgb(150, 148, 148);
  color: rgb(150, 148, 148);
  cursor: pointer;
}
#inicio{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 0.5s;
  color: black;
}
#inicio img{
  transition: 0.5s;
}
#inicio img:hover{
  transition: 0.5s;
  transform: scale(1.1);
}
.BemVindo {
  margin-top: 10px;
  font-size: 30px;
  transition: 0.5s;
}
#loginGoogle {
  /* display: flex; */
  display: none;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #ffffff;
  transition: 0.5s;
  margin-bottom: 10px;
}

#complemento {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 10px rgba(121, 120, 120, 0.808);
  border-radius: 10px;
  padding: 15px;
}
#complementoCell {
  display: none;
}
#loginGoogle:hover {
  transition: 0.5s;
  border: 1px solid #71bb74;
  box-shadow: 0 0 6px rgba(46, 70, 47, 0.4);
  cursor: pointer;
  display: none;
}
.botaoS {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 95px;
}
.acesso:hover {
  transition: 0.5s;
  background-color: #ffffff;
  border: 1px solid green;
  color: green;
  cursor: pointer;
}

.BemVindo:hover {
  cursor: cell;
  transition: 0.5s;
  color: #4caf50;
}
#forca-container {
  width: 100%;
  height: 8px;
  background: #ddd;
  border-radius: 4px;
  margin: 5px 0;
  z-index: 2;
}
.forca-barra {
  height: 100%;
  z-index: 2;
  width: 0%;
  background: red;
  border-radius: 4px;
  transition: width 0.3s;
}
.forca {
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  padding: 2px 10px;
}
#validarDKT {
  text-justify: initial;
  text-align: center;
}

#Botao_Ver_Detalhes{
background-color: white;
    color: #333;
    border-color: #ccc;
}
#botaoAvaliarBairro {
    background: linear-gradient(to right, #e2f5d9, #c3e0f7);
    color: rgb(0, 0, 0);
}
#Botao_Ver_Detalhes, #botaoAvaliarBairro {
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.9em;
    transition: background-color 0.5s, border-color 0.5s;
    border: 1px solid transparent;
}