/* Laptops médios */
@media (max-width: 1366px) {
  #CadCell {
    display: none;
  }

  #container > #map {
    height: 89.5vh;
  }
  .Ilogin,
  .ICadastro {
    height: 100%;
  }

  .ICadastro > .telaL {
    margin-top: 6vh;
  }

  .telaL {
    width: max-content;
    height: max-content;
    padding: 20px 40px;
    /* margin: 15vh 0px 15vh 0px; */
  }
  .carrossel1 {
    height: 87vh;
  }
}

/* Monitores grandes */
@media (min-width: 1367px) {
  #CadCell {
    display: none;
  }

  header {
    height: 6vh;
  }

  .Ilogin,
  .ICadastro {
    height: 89vh;
  }

  .telaL {
    width: max-content;
    padding: 10px 40px;
    height: max-content;
  }
  .carrossel1 {
    height: 100%;
  }
  #container {
    height: 95vh;
  }
}

/* Celulares */
@media (max-width: 730px) {
  .telaL {
    height: max-content;
    transition: 0.5s;
    margin: 20px;
    padding: 10px 20px;
  }

  .botaoS:first-of-type {
    display: none;
  }

  .botaoS:last-of-type {
    gap: 10px;
  }

  table {
    display: none;
    transition: 0.5s;
  }

  #carrossel2 {
    transition: 0.5s;
    height: 60px;
  }

  header img {
    margin: 0px;
    margin-top: 5px;
    transition: 0.5s;
  }

  header {
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    padding-bottom: 4px;
    height: max-content;
  }

  .loginBtn .acesso {
    transition: 0.5s;
    padding: 7px;
    font-size: small;
    width: max-content;
  }

  #voltar {
    transition: 0.5s;
    padding: 7px;
  }

  #CadCell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
  }

  #complementoCell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
  }

  .FormLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: 0.5s;
  }

  .FCadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: 0.5s;
  }

  .Ilogin {
    height: max-content;
    transition: 0.5s;
    z-index: 2;
  }
  .ICadastro .telaL {
    height: max-content;
  }

  .ICadastro {
    height: max-content;
    transition: 0.5s;
  }

  #map {
    height: auto;
    transition: 0.5s;
  }

  .loginBtn ul {
    margin-right: 0px;
    transition: 0.5s;
  }

  #logo {
    margin-left: 0;
    transition: 0.5s;
  }

  .carrossel1 {
    position: absolute;
    transition: 0.5s;
    height: 91%;
  }

  #carrossel1-1 {
    display: none;
    transition: 0.5s;
  }

  .BemVindo {
    transition: 0.5s;
    font-size: 20px;
  }
}
