* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
td {
  padding: 10px;
}
body {
  width: 100%;
}
header {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(68, 68, 68, 0.808);
  margin: 0px 0px 7px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  width: 100%;
}

header img {
  width: 35px;
  height: auto;
  margin: 10px;
}
#map {
  width: 100%;
  margin: 0;
  height: 100%;
}
footer {
  border-radius: 5px;
  background: transparent;
  height: max-content;
  padding: 5px;
  border-top: #424242a9 0.5px solid;
}

footer p {
  transition: 0.5s;
  font-weight: 400;
}
footer p:hover {
  transition: 0.5s;
  color: #236825;
  cursor: pointer;
}
#info {
  display: flex;
  flex-direction: row;
  gap: 25px;
  transition: 0.5s;
  justify-content: end;
  margin-right: 20px;
}
#preferencias {
  display: flex;
  flex-direction: row;
  height: max-content;
  width: max-content;
  margin-top: 20px;
  gap: 20px;
}
#opcoes {
  display: flex;
  flex-direction: column;
  gap: 23px;
  justify-content: center;
  width: max-content;
}
.opcao {
  width: 35vh;
  padding: 10px;
  border-radius: 5px 5px;
  transition: 0.5s;
  text-align: start;
}
.opcao:hover,
.opcao.ativo {
  background-color: #68dd6c56;
  cursor: pointer;
  transition: 0.5s;
  color: #236825;
}

#opcoesTela {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 100vw;
  overflow-x: auto;
}
#headerConfig {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}
#configDKT h1 + img:hover,
.fechar:hover {
  transition: 0.5s;
  scale: 1.1;
  cursor: pointer;
  background-color: transparent;
}
#configDKT h1 + img,
.fechar {
  margin-left: 30px;
  position: absolute;
  right: 21px;
  background-color: #8ff5c2;
  transition: 0.5s;
  height: 20px;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid black;
}

#configDKT {
  display: none;
  background-color: white;
  position: absolute;
  height: max-content;
  width: max-content;
  padding: 20px;
  z-index: 10000;
  left: 10px;
  bottom: 10px;
  border: #000000 1px dashed;
  border-radius: 10px;
  box-shadow: 1px 1px 2px 1px gray;
}

.configTela {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: max-content;
}
.configpop {
  display: flex;
  z-index: 1500;
  position: absolute;

  bottom: 20px;
  left: 30px;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background: linear-gradient(135deg, #629ac7, #72a2ca);
  border-radius: 5px;
  transition: 0.5s;
}
.configpop:hover {
  transition: 0.5s;
  transform: scale(1.05);
  background: linear-gradient(135deg, #72a2ca, #629ac7);
  cursor: pointer;
}
.configpop img {
  height: 30px;
}

#bairrosNome {
  background-color: #f2f2f2;
  border-radius: 5px;
  border: 1px solid #4caf50;
  font-size: larger;
  color: #4caf50;
  transition: 0.5s;
  padding: 10px;
}
#bairrosNome:hover {
  cursor: pointer;
  transition: 0.5s;
  background-color: #4caf50;
  color: #f2f2f2;
}
#container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  height: max-content;
}
#logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  margin-left: 15px;
}
#logo p {
  margin-top: 5px;
  margin-left: 5px;
}
.corLogo:nth-of-type(1) {
  color: #d1e69f;
}
.corLogo:nth-of-type(2) {
  color: #629ac7;
}
.custom-alert {
  position: absolute;
  top: 170px;
  right: 20px;
  background-color: #ff4d4f; /* vermelho padrão de erro */
  color: white;
  padding: 15px 25px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  z-index: 1000;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.repeticaoCasa1 {
  display: flex;
  flex-direction: column;
}
.custom-alert.show {
  opacity: 1;
  transform: translateY(0);
}
.adminCardOpt {
  position: absolute;
  top: 220px;
  right: 20px;
  width: fit-content;
  background: #4caf50;
  border: 1px solid #ccc;
  border-radius: 10px;
  z-index: 3;
  padding: 5px;
}
.adminCardOpt:hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.admin-card {
  position: absolute;
  top: 220px;
  right: 20px;
  width: max-content;
  background: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  z-index: 4;
}
#card-header {
  background: #4caf50;
  color: white;
  padding: 8px;
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
  gap: 80px;
}
#card-body {
  padding: 10px;
}
.hidden {
  display: none;
  z-index: 4;
}
#admin {
  position: absolute;
  top: 2px;
  right: 20px;
  width: max-content;
  background: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  z-index: 4;
  display: none;
}

.adcBairro td {
  padding: 2px;
}

input[type="checkbox"]:hover + label {
  cursor: pointer;
  color: #4caf50;
  transition: 0.5s;
}
input[type="checkbox"]:disabled + label {
  cursor: initial;
  color: black;
  transition: 0.5s;
}

input[type="checkbox"]:checked {
  accent-color: #4caf50;
  color: #ffffff;
  transition: 0.5s;
}
input[type="checkbox"]:checked + label {
  color: #4caf50;
  transition: 0.5s;
}
label {
  transition: 0.5s;
}
h4 {
  text-align: center;
}
.conteudo_principal {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  padding: 30px;
  padding-bottom: 0;
  max-width: 1000px;
  background-color: #ffffff;
}

.titulo_sobre {
  font-size: 40px;
  font-weight: bolder;
  color: #000000;
  margin-bottom: 30px;
  padding-left: 0;
  width: 100%;
}

.secao_sobre {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 60px;
}

.texto_sobre {
  font-size: 20px;
  color: #000000;
  flex-basis: 45%;
  min-width: 300px;
  font-weight: bold;
}

.container_ilustracao {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-basis: 45%;
  min-width: 300px;
}

.imagem_mapa {
  width: 100%;
  height: auto;
  max-width: 400px;
}

.secao_sobre {
  display: flex;
  flex-direction: column;
}

.titulo_sobre {
  margin-bottom: 30px;
}
.texto_sobre {
  margin-top: 30px;
}
.secao_sobre,
.secao_sobre > .container_ilustracao {
  flex-basis: 45%;
  margin-bottom: 30px;
}
.secao_mvv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 30px;
}

.card_mvv {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 20px;
}

.titulo_card {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 10px;
}

.texto_card {
  font-size: 17px;
  color: #000000;
}
.indicadorMini {
  height: 35px;
}
#itensMinimizados {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
#itensMDireita {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.botoesMDireita {
  display: flex;
  flex-direction: row;
}
.info_Mini {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
}
#hudMinimizado,
.info_Mini,
#itensMinimizados {
  gap: 10px;
}
#hudMinimizado {
  transition: opacity 0.4s, transform 0.4s;
  display: none;
  flex-direction: column;
  padding: 10px;
  border: #636262 solid 1px;
  border-radius: 10px;
  background-color: #ffffff;
  position: absolute;
  z-index: 9879;
  height: max-content;
  width: max-content;
  bottom: 10px;
  justify-content: center;
  align-items: center;
  justify-self: center;
}
#hudUltimoComentario {
  padding: 10px;
  padding-right: 100px;
  border: #636262 1px solid;
  border-radius: 7px;
  overflow-x: auto;
}

.nota_principal {
  color: #20744a;
}
#opcoesCell {
  width: -webkit-fill-available;
  height: max-content;
  padding: 10px;
  display: none;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
.opcaoCell:hover,
.ativoCell {
  box-shadow: 1px 1px 16px 1px rgb(184, 182, 182);
  transform: translateY(1.5px);
  transition: 0.5s;
  cursor: pointer;
  background-color: #68dd6c56;
}
.opcaoCell {
  transition: 0.5s;
  padding: 5px;
  border: #000000 1px solid;
  border-radius: 5px;
  height: 30px;
}

#opcoesTela input[type="checkbox"] + label {
  width: 200px;
  height: max-content;
  word-break: break-all;
}
#termosTXT {
  text-align: justify;
  height: 90%;
  width: min-content;
}
#versaoSite img {
  height: 200px;
}

#versaoSite {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  height: 23px;
  width: 48px;
}

.switch input {
  /* Esconde o input checkbox padrão */
  opacity: 0;
  width: 0;
  height: 0;
}
#NomeEditar,
#EmailEditar {
  width: -webkit-fill-available;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  /* Adiciona transição suave */
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* Muda a cor de fundo quando o input está marcado (checked) */
input:checked + .slider {
  background-color: #629ac7;
}

input:focus + .slider {
  box-shadow: 0 0 1px #629ac7;
}

/* Move a "bolinha" (slider::before) quando o input está marcado */
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Estilo para cantos arredondados */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.outrosBtn {
  transition: 0.5s;
}
.outrosBtn:hover {
  color: #20744a;
  cursor: pointer;
  transition: 0.5s;
}
