* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
td {
  padding: 10px;
}

header {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(68, 68, 68, 0.808);
  margin: 0px 0px 7px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  width: 100%;
}

header img {
  width: 35px;
  height: auto;
  margin: 10px;
}
#map {
  width: 100%;
  margin: 0;
  height: 100%;
}

#container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  height: max-content;
}
#logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  margin-left: 15px;
}
#logo p {
  margin-top: 5px;
  margin-left: 5px;
}
.corLogo:nth-of-type(1) {
  color: #d1e69f;
}
.corLogo:nth-of-type(2) {
  color: #629ac7;
}
.custom-alert {
  position: absolute;
  top: 170px;
  right: 20px;
  background-color: #ff4d4f; /* vermelho padrão de erro */
  color: white;
  padding: 15px 25px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  z-index: 1000;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.custom-alert.show {
  opacity: 1;
  transform: translateY(0);
}
.adminCardOpt {
  position: absolute;
  top: 220px;
  right: 20px;
  width: fit-content;
  background: #4caf50;
  border: 1px solid #ccc;
  border-radius: 10px;
  z-index: 999;
  padding: 5px;
}
.adminCardOpt:hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.admin-card {
  position: absolute;
  top: 220px;
  right: 20px;
  width: max-content;
  background: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  z-index: 9999;
}
#card-header {
  background: #4caf50;
  color: white;
  padding: 8px;
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
  gap: 80px;
}
#card-body {
  padding: 10px;
}
.hidden {
  display: none;
  z-index: 9999;
}
#admin {
  position: absolute;
  top: 2px;
  right: 20px;
  width: max-content;
  background: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  z-index: 9999;
  display: none;
}

.adcBairro td {
  padding: 2px;
}